
body{
	background-color: #FFFFFF;
	margin: 0 auto;
	font-family: Courier New, monospace;

}


div#header{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  
  background-color: #000000;
  padding:  5px;
}



div#header div.title h1{
	color:  white;
}

div#header div.title div{
	display: inline-block;
	margin-top: 10px;


}
div#header div.title h1{
	 height: fit-content;
  
}
div#header div a{
	text-decoration: none;
	color: black;
}



div#formulaire{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	align-content: start
}

div#formulaire form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-content: start
}

div#formulaire form input{
	margin: 2px;
}



div#footer{
	color: white;
	background-color: #000000;
	padding-top:  20px;
	position:absolute;
	bottom:0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;

}